<div class="app-navbar mat-elevation row">

</div>
<div class="row">
  <!--The content below is only a placeholder and can be replaced.-->
  <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container">
    <div fxFlex *ngFor="let item of toDoList; let index = index" class="card-item">
      <mat-card [ngStyle]="{'width':'300' + 'px'}">
        <mat-card-header>
          <mat-card-title>
            {{item.id}} / {{item.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-checkbox [id]="index" [checked]="item.checked" (change)="change($event)"></mat-checkbox>
          {{item.description}}
        </mat-card-content>
        <div class="row edit-element">
            <button mat-fab class="edit" color="secondary" (click)="openDialogEdit(item, index)"><mat-icon aria-label="">edit</mat-icon></button>
            <button mat-fab class="delete" color="secondary" (click)="deleteItem(index)"><mat-icon aria-label="">delete</mat-icon></button>
        </div>
      </mat-card>
    </div>

  </div>
</div>
<div class="row add-element">
    <button mat-fab color="primary" (click)="openDialog()"><mat-icon aria-label="">add</mat-icon></button>
</div>
<div class="app-footer mat-elevation row"></div>
